<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create a new Chip</title>
  </head>
  <body>
    <h1>New Chips page</h1>

    <form action="/chips" method="POST" >
        Brand: <input type="text" name='brand'/> <br />
        Flavor: <input type="text" name='flavor'/> <br />
        Size: <input type="text" name='size'/> <br />

        <input type="submit" value="Create Chips">
    </form>
  </body>
</html>
